.books-index {
	padding: 2%;

	h1 { 
		text-align: center;
		font-family: 'IM Fell English SC', serif;
		font-size: 42pt;
	}
	h2
	{
		text-align: center;
		a { font-family: 'Cinzel Decorative', cursive; text-align: center;}
	}
	h4 { text-align: center;}
	.pure-u-md-1-2 {
		padding: 1%;
	}
	.purchase-button-group {
		text-align: center;
	}
	img { display: block; margin: auto;}
	// @media screen and (min-width: 1600px) {
	// 	// this is extra large screens
		
	//  }
}

.series-description {
	padding: 0 15%;
}