.books-index {
	// padding: 2%;

	h1 { 
		text-align: center;
		font-family: $Fell;
		font-size: 42pt;
	}
	h2
	{
		text-align: center;
		a { font-family: $Cinzel; text-align: center;}
	}
	h4 { text-align: center; padding-left: 1%;}

	img { display: block; margin: auto; max-width: 95%;}

	.books-cards {
		box-shadow: $mobile-box-shadow;
		@media screen and (min-width: 768px) {
			box-shadow: none;
	 	}
		p {
			text-align: center;
			@media screen and (min-width: 768px) {
					text-align: left;
					padding-left: 3.5%;
					padding-right: 3.5%;
					box-shadow: none;
	 		}

		}
	}
}

.series-description {
	padding: 0 15%;
}
.horizontal-line {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: $bright-pink;
	border-color: $bright-pink;
	background-color: $bright-pink;
	border-style: solid;

}