.home-page {
	margin: 0;
	padding: 1.5%;
}
.book-card {
	text-align: center;
	margin: 0;
	box-shadow: $mobile-box-shadow;
	padding-bottom: 3%;
	@media screen and (min-width: 1024px) {
		// large screens
		padding: 5%;
		box-shadow: none;
	}
}

.title-link {
	margin: 0; 
	a { 
		font-family: $Cinzel; 
		color: $bright-pink; 
		font-weight: 800; 
		font-size: larger;
	}
}
.release-type { font-family: $Fell; }
.release-type, .title-link { text-align: center;}

.book-card-img {
	display: block;
	margin: auto;
	max-width: 95% !important;
}

.pacemaker {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.horizontal-line {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: $bright-pink;
	border-color: $bright-pink;
	background-color: $bright-pink;
	border-style: solid;

}

.long-progress {
	position: relative;
	display: flex;
	align-items: center;
}
progress {
	margin: 0;
	// position: absolute;
	// top: 50%;
	// display: flex;
	min-width: 62%;
	height: 2em;
}

progress::-webkit-progress-value {background-color: #3f51b5 !important;}
progress::-moz-progress-bar {background-color: #3f51b5 !important;}
progress {accent-color: #3f51b5;}