@import '../partials/variables';

// -------------------------------------- BODY --------------------------------------------//

* {
	font-family: $Garamond;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }

html, body {
	background-image: linear-gradient($dark-purple, $dark-grey);
	padding: 0;
	margin: 0;
	// overflow: auto; can't have this if I want position: sticky; to work 
}
  

header {
	top: 0;
	width: 100%;
	background-image: url('/images/branding/DM_Footer.jpg');
	padding: 0;
	margin: 0;
	overflow: auto;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center top;
	@media only screen and (max-width: 700px) {
	   background-image: url('/images/branding/DM_Footer_Mobile.jpg');
	   background-position: center top;
	  h1 {
			text-align: center;
			padding: 2%;
			font-size: 2em;
		}
		h2 { text-align: center; font-size: 1.5em; color: $dark-purple; }
	}

	h1 {
		text-align: center;
		padding: 3%;
		font-size: 4em;
		text-shadow: 3px 1px 2px $light-purple;
		a { font-family: $Cinzel; }
	}
	h2 { text-align: center; 
		font-size: 2.5em; 
		color: $dark-purple;
		text-shadow: 3px 2px 2px $light-purple; 
		font-family: $Cinzel;
	}

	 a.header-link { text-decoration: none;}
}

footer {
	width: 100%;
	padding: 0;
	margin: 0;
	bottom: 0;
	overflow: auto;
	background-image: url('/images/branding/DM_Footer.jpg');
	@media only screen and (max-width: 880px) {
	  background-image: url('/images/branding/DM_Footer_Mobile.jpg');
	}
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	font-weight: 600;
	p {font-size: 1.7em; color: white; text-shadow: 3px 2px 2px $dark-purple;}
}

// ----------------------------------------  TEXT     --------- -----------------------//

p { 
	color: $light-purple;
	font-size: 18pt;
	line-height: 20pt;
	font-family: $Garamond;
 }

a { color: $dark-orange }
a.visited  {color: darken($dark-orange, 20%);}

h1 { 
	color: $light-purple;
	font-size: 36pt;
	line-height: 38pt;
 }

h2 { 
	color: $bright-pink;
	font-size: 32pt;
	line-height: 34pt;
 }

h3 { 
	color: $light-orange;
	font-size: 28pt;
	line-height: 30pt;
 }


h4 { 
	color: lighten($pink-purple, 50%);
	font-size: 24pt;
	line-height: 26pt;
}

ul li {
    /* Bullet color */
    color: $light-purple;
    list-style-type: disc;
}

// ul li span { keeping this here for reference later, so far the only ul I have is menu
//     /* Text color */
//     color: black;
// }

// -------------------------------CUSTOM CLASSES ----------------------------------//

// ------ buttons -----//
.purchase-button {
	display: inline-block;
	padding: 0.45em;
	text-align: center;
	text-decoration: none;
	color: $light-purple;
	background-color: $pink-purple;
	border-radius: 6px;
	outline: none;
	transition: 0.3s;
	border: 2px solid transparent;
	font-weight: 600;
	font-size: 1.12em;
	min-width: 155px;
	width: 155px;
	@media only screen and (max-width: 1560px) {
		font-weight: 600;
		font-size: 0.65em;
		min-width: 95px;
		width: 95px;
	}
  }

  .direct-purchase-button {
	display: inline-block;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: $light-purple;
	background-color: $pink-purple;
	border-radius: 7px;
	outline: none;
	transition: 0.3s;
	border: 5px solid transparent;
	font-weight: 600;
	font-size: 1.5em;

  }

.purchase-button:hover, 
.purchase-button:focus {
	background-color: lighten($pink-purple, 20%);
	border-color: darken($pink-purple, 20%);
}

.direct-purchase-button:hover, 
.direct-purchase-button:focus {
	background-color: lighten($pink-purple, 20%);
	border-color: darken($pink-purple, 20%);
}

.purchase-button-group {
	text-align: center;
}

.center-parent {
	height: 100%;

}
.center-child {
	margin: 0 auto;
	padding-top: 12%;
}

.shadow-effect {
	box-shadow: 0 4px 8px 0 $light-purple, 0 6px 20px 0 $light-purple;
	//filter: drop-shadow(100px 100px 100px 100px rgb(218,197,241)) !important; I have been trying to get this to work for hours now and I can't figure it out. I want to use this effect on /products but because of the padding, box-shadow looks goofy.
}