// --- COLORS -------//
$bright-pink: #DB4374;
$dark-purple: #2C0149;
$pink-purple: #69065a;
$dark-orange: #D03A45;
$light-orange: #F15654;
$light-purple: #DAC5F1;
$dark-grey: #121212;

$mobile-box-shadow: 0 4px 2px -2px rgb(105, 6, 90);

$Cinzel: 'Cinzel Decorative', cursive;
$Garamond: 'Cormorant Garamond', serif;
$Fell: 'IM Fell English SC', serif;