$bright-pink: #DB4374;
$dark-purple: #2C0149;
$pink-purple: #6a065b;
$dark-orange: #D03A45;
$light-orange: #F15654;
$light-purple: #DAC5F1;

@import "partials/normalize";
// @import "partials/style";
@import "partials/new_style";
@import "partials/menu";
@import "partials/home_page";
@import "partials/books_index";