
<footer>
  <h2>© Dax Murray 2012-2024. </h2>
    <p>Unauthorized use and/or duplication of this material without express and written permission from this blog’s author and/or owner is strictly prohibited.</p>
    <p>Excerpts and links may be used, provided that full and clear credit is given to Dax Murray with appropriate and specific direction to the original content.</p>
    <p>Website hand-coded with love by Dax Murray</p>
    <p><a href="/privacy">Privacy Policy</a></p>


    <!---- progress bars ---->
    <!-- 
    <div class="progress-wrapper">
      <div class="dial-wrapper">
      <p class="dial-label">Dev Edit: Smoke & Steel</p>
      <div class="half-arc" style="--percentage:02%;">
        <span class="label">02%</span>
      </div>
        <p> </p>
      </div>

      <div class="dial-wrapper">
      <p class="dial-label">Outlining: Shackles and Secrets</p>
      <div class="half-arc" style="--percentage:15%;">
        <span class="label">15%</span>
      </div>
  <p> </p>
  </div> 
  -->

</footer>