<div class="nav-menu">
<ul>
	<li class="nav-menu-item"><a href="/about_me">About</a> </li>
	<li class="nav-menu-item"><a href="/books">Books </a></li>
	<li class="nav-menu-item"><a href="https://blog.daxmurray.com">Blog </a></li>
	<li class="nav-menu-item"><a href="https://enchantedediting.com">Editing </a></li>
</ul>
<br />
<ul>
	<li class="nav-menu-item"><a href="https://daxaeterna.ink">Short Stories </a></li>
	<li class="nav-menu-item"><a href="https://scionsandshadows.ink">Scions and Shadows </a></li>
</ul>
<br/>
<ul>
	<li class="nav-menu-item"><a href="https://toot.cat/ChaosCatgirl">Mastodon</a></li>
</ul>
</div>