<div class="ream-button-embed">
	<h2>Want to support my writing?</h2>
	<a class="ream-button" href="https://links.daxmurray.com/ream">
	Join my
	<br/>
	<img src="/images/ream_logo.png" alt="Ream, logo for Ream Stories" style="max-width:35%;"/></a>
	<p>Exclusive serial, access to early drafts of WIPs, bonus short stories, <b>full backlist access</b>, and more, all on Ream!</p>
	<p>I am a disabled creator and rely on generous Ream supporters to continue bringing you amazing stories and to survive. Thank you to my Dreamers &#x1F49C; !! </p>
</div>