<div class="ream-button-embed">
	<h2>Want to support my writing?</h2>
	<a class="ream-button" href="https://reamstories.com/daxaeterna">
	Join my
	<br/>
	<img src="/images/ream_logo.png" alt="Ream, logo for Ream Stories" style="max-width:35%;"/></a>
	<p>Exclusive serial, access to early drafts of WIPs, bonus short stories, full backlist access, and more, all on Ream!</p>
</div>