<div class="pure-g">

<div class="pure-u-md-1-3">
<div class="shopify-buy-button-map-ahnlisen">
<div id='product-component-1711857285977'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'cad2dc-3.myshopify.com',
      storefrontAccessToken: '6a4f71d68ded42c36179ab587390eb5f',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '7772087910445',
        node: document.getElementById('product-component-1711857285977'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-family": "Garamond, serif",
        "font-weight": "normal",
        "font-size": "20px",
        "color": "#cab5e1"
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "price": {
        "font-family": "Garamond, serif",
        "font-size": "26px",
        "color": "#cdc3e6"
      },
      "compareAt": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      },
      "unitPrice": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      }
    },
    "text": {
      "button": "Add to cart"
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "title": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "bold",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ],
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Garamond, serif"
      },
      "select": {
        "font-family": "Garamond, serif"
      }
    }
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px"
      },
      "title": {
        "color": "#dac5f1"
      },
      "header": {
        "color": "#dac5f1"
      },
      "lineItems": {
        "color": "#dac5f1"
      },
      "subtotalText": {
        "color": "#dac5f1"
      },
      "subtotal": {
        "color": "#dac5f1"
      },
      "notice": {
        "color": "#dac5f1"
      },
      "currency": {
        "color": "#dac5f1"
      },
      "close": {
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "empty": {
        "color": "#dac5f1"
      },
      "noteDescription": {
        "color": "#dac5f1"
      },
      "discountText": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "discountAmount": {
        "color": "#dac5f1"
      },
      "cart": {
        "background-color": "#2c0149"
      },
      "footer": {
        "background-color": "#2c0149"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    },
    "contents": {
      "note": true
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "background-color": "#69065a",
        ":hover": {
          "background-color": "#b30a99"
        },
        ":focus": {
          "background-color": "#b30a99"
        }
      },
      "count": {
        "font-size": "18px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "iconPath": {
        "fill": "#dac5f1"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#dac5f1"
      },
      "title": {
        "color": "#dac5f1"
      },
      "price": {
        "color": "#dac5f1"
      },
      "fullPrice": {
        "color": "#dac5f1"
      },
      "discount": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "quantity": {
        "color": "#dac5f1"
      },
      "quantityIncrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityDecrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityInput": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
</div>
</div>

<div class="pure-u-md-1-3">
<div class="shopify-buy-button-map-ishoraie">
<div id='product-component-1711857241158'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'cad2dc-3.myshopify.com',
      storefrontAccessToken: '6a4f71d68ded42c36179ab587390eb5f',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '7772087943213',
        node: document.getElementById('product-component-1711857241158'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-family": "Garamond, serif",
        "font-weight": "normal",
        "font-size": "20px",
        "color": "#cab5e1"
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "price": {
        "font-family": "Garamond, serif",
        "font-size": "26px",
        "color": "#cdc3e6"
      },
      "compareAt": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      },
      "unitPrice": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      }
    },
    "text": {
      "button": "Add to cart"
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "title": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "bold",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ],
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Garamond, serif"
      },
      "select": {
        "font-family": "Garamond, serif"
      }
    }
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px"
      },
      "title": {
        "color": "#dac5f1"
      },
      "header": {
        "color": "#dac5f1"
      },
      "lineItems": {
        "color": "#dac5f1"
      },
      "subtotalText": {
        "color": "#dac5f1"
      },
      "subtotal": {
        "color": "#dac5f1"
      },
      "notice": {
        "color": "#dac5f1"
      },
      "currency": {
        "color": "#dac5f1"
      },
      "close": {
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "empty": {
        "color": "#dac5f1"
      },
      "noteDescription": {
        "color": "#dac5f1"
      },
      "discountText": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "discountAmount": {
        "color": "#dac5f1"
      },
      "cart": {
        "background-color": "#2c0149"
      },
      "footer": {
        "background-color": "#2c0149"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    },
    "contents": {
      "note": true
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "background-color": "#69065a",
        ":hover": {
          "background-color": "#b30a99"
        },
        ":focus": {
          "background-color": "#b30a99"
        }
      },
      "count": {
        "font-size": "18px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "iconPath": {
        "fill": "#dac5f1"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#dac5f1"
      },
      "title": {
        "color": "#dac5f1"
      },
      "price": {
        "color": "#dac5f1"
      },
      "fullPrice": {
        "color": "#dac5f1"
      },
      "discount": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "quantity": {
        "color": "#dac5f1"
      },
      "quantityIncrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityDecrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityInput": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
</div>
</div>

<div class="pure-u-md-1-3">
<div class="shopify-buy-button-book-stickers">
<div id='product-component-1711857387240'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'cad2dc-3.myshopify.com',
      storefrontAccessToken: '6a4f71d68ded42c36179ab587390eb5f',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '7674868334637',
        node: document.getElementById('product-component-1711857387240'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-family": "Garamond, serif",
        "font-weight": "normal",
        "font-size": "20px",
        "color": "#cab5e1"
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "price": {
        "font-family": "Garamond, serif",
        "font-size": "26px",
        "color": "#cdc3e6"
      },
      "compareAt": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      },
      "unitPrice": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      }
    },
    "text": {
      "button": "Add to cart"
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "title": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "bold",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ],
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Garamond, serif"
      },
      "select": {
        "font-family": "Garamond, serif"
      }
    }
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px"
      },
      "title": {
        "color": "#dac5f1"
      },
      "header": {
        "color": "#dac5f1"
      },
      "lineItems": {
        "color": "#dac5f1"
      },
      "subtotalText": {
        "color": "#dac5f1"
      },
      "subtotal": {
        "color": "#dac5f1"
      },
      "notice": {
        "color": "#dac5f1"
      },
      "currency": {
        "color": "#dac5f1"
      },
      "close": {
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "empty": {
        "color": "#dac5f1"
      },
      "noteDescription": {
        "color": "#dac5f1"
      },
      "discountText": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "discountAmount": {
        "color": "#dac5f1"
      },
      "cart": {
        "background-color": "#2c0149"
      },
      "footer": {
        "background-color": "#2c0149"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    },
    "contents": {
      "note": true
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "background-color": "#69065a",
        ":hover": {
          "background-color": "#b30a99"
        },
        ":focus": {
          "background-color": "#b30a99"
        }
      },
      "count": {
        "font-size": "18px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "iconPath": {
        "fill": "#dac5f1"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#dac5f1"
      },
      "title": {
        "color": "#dac5f1"
      },
      "price": {
        "color": "#dac5f1"
      },
      "fullPrice": {
        "color": "#dac5f1"
      },
      "discount": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "quantity": {
        "color": "#dac5f1"
      },
      "quantityIncrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityDecrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityInput": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
</div>
</div>

<div class="pure-u-md-1-3">
<div class="shopify-buy-button-bookmark">
<div id='product-component-1711857465390'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'cad2dc-3.myshopify.com',
      storefrontAccessToken: '6a4f71d68ded42c36179ab587390eb5f',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '7674868170797',
        node: document.getElementById('product-component-1711857465390'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-family": "Garamond, serif",
        "font-weight": "normal",
        "font-size": "20px",
        "color": "#cab5e1"
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "price": {
        "font-family": "Garamond, serif",
        "font-size": "26px",
        "color": "#cdc3e6"
      },
      "compareAt": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      },
      "unitPrice": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      }
    },
    "text": {
      "button": "Add to cart"
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "title": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "bold",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ],
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Garamond, serif"
      },
      "select": {
        "font-family": "Garamond, serif"
      }
    }
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px"
      },
      "title": {
        "color": "#dac5f1"
      },
      "header": {
        "color": "#dac5f1"
      },
      "lineItems": {
        "color": "#dac5f1"
      },
      "subtotalText": {
        "color": "#dac5f1"
      },
      "subtotal": {
        "color": "#dac5f1"
      },
      "notice": {
        "color": "#dac5f1"
      },
      "currency": {
        "color": "#dac5f1"
      },
      "close": {
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "empty": {
        "color": "#dac5f1"
      },
      "noteDescription": {
        "color": "#dac5f1"
      },
      "discountText": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "discountAmount": {
        "color": "#dac5f1"
      },
      "cart": {
        "background-color": "#2c0149"
      },
      "footer": {
        "background-color": "#2c0149"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    },
    "contents": {
      "note": true
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "background-color": "#69065a",
        ":hover": {
          "background-color": "#b30a99"
        },
        ":focus": {
          "background-color": "#b30a99"
        }
      },
      "count": {
        "font-size": "18px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "iconPath": {
        "fill": "#dac5f1"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#dac5f1"
      },
      "title": {
        "color": "#dac5f1"
      },
      "price": {
        "color": "#dac5f1"
      },
      "fullPrice": {
        "color": "#dac5f1"
      },
      "discount": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "quantity": {
        "color": "#dac5f1"
      },
      "quantityIncrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityDecrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityInput": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
</div>
</div>


<div class="pure-u-md-1-3">
<div class="shopify-buy-button-ahnlisen-desk-mat">
<div id='product-component-1711858628086'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'cad2dc-3.myshopify.com',
      storefrontAccessToken: '6a4f71d68ded42c36179ab587390eb5f',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '7772090368045',
        node: document.getElementById('product-component-1711858628086'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-family": "Garamond, serif",
        "font-weight": "normal",
        "font-size": "20px",
        "color": "#cab5e1"
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "price": {
        "font-family": "Garamond, serif",
        "font-size": "26px",
        "color": "#cdc3e6"
      },
      "compareAt": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      },
      "unitPrice": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      }
    },
    "text": {
      "button": "Add to cart"
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "title": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "bold",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ],
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Garamond, serif"
      },
      "select": {
        "font-family": "Garamond, serif"
      }
    }
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px"
      },
      "title": {
        "color": "#dac5f1"
      },
      "header": {
        "color": "#dac5f1"
      },
      "lineItems": {
        "color": "#dac5f1"
      },
      "subtotalText": {
        "color": "#dac5f1"
      },
      "subtotal": {
        "color": "#dac5f1"
      },
      "notice": {
        "color": "#dac5f1"
      },
      "currency": {
        "color": "#dac5f1"
      },
      "close": {
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "empty": {
        "color": "#dac5f1"
      },
      "noteDescription": {
        "color": "#dac5f1"
      },
      "discountText": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "discountAmount": {
        "color": "#dac5f1"
      },
      "cart": {
        "background-color": "#2c0149"
      },
      "footer": {
        "background-color": "#2c0149"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    },
    "contents": {
      "note": true
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "background-color": "#69065a",
        ":hover": {
          "background-color": "#b30a99"
        },
        ":focus": {
          "background-color": "#b30a99"
        }
      },
      "count": {
        "font-size": "18px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "iconPath": {
        "fill": "#dac5f1"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#dac5f1"
      },
      "title": {
        "color": "#dac5f1"
      },
      "price": {
        "color": "#dac5f1"
      },
      "fullPrice": {
        "color": "#dac5f1"
      },
      "discount": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "quantity": {
        "color": "#dac5f1"
      },
      "quantityIncrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityDecrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityInput": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
</div>
</div>

<div class="pure-u-md-1-3">
<div class="shopify-buy-button-ishoraie-desk-mat">
<div id='product-component-1711858823691'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'cad2dc-3.myshopify.com',
      storefrontAccessToken: '6a4f71d68ded42c36179ab587390eb5f',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '7772090466349',
        node: document.getElementById('product-component-1711858823691'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-family": "Garamond, serif",
        "font-weight": "normal",
        "font-size": "20px",
        "color": "#cab5e1"
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "price": {
        "font-family": "Garamond, serif",
        "font-size": "26px",
        "color": "#cdc3e6"
      },
      "compareAt": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      },
      "unitPrice": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      }
    },
    "text": {
      "button": "Add to cart"
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "title": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "bold",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ],
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Garamond, serif"
      },
      "select": {
        "font-family": "Garamond, serif"
      }
    }
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px"
      },
      "title": {
        "color": "#dac5f1"
      },
      "header": {
        "color": "#dac5f1"
      },
      "lineItems": {
        "color": "#dac5f1"
      },
      "subtotalText": {
        "color": "#dac5f1"
      },
      "subtotal": {
        "color": "#dac5f1"
      },
      "notice": {
        "color": "#dac5f1"
      },
      "currency": {
        "color": "#dac5f1"
      },
      "close": {
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "empty": {
        "color": "#dac5f1"
      },
      "noteDescription": {
        "color": "#dac5f1"
      },
      "discountText": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "discountAmount": {
        "color": "#dac5f1"
      },
      "cart": {
        "background-color": "#2c0149"
      },
      "footer": {
        "background-color": "#2c0149"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    },
    "contents": {
      "note": true
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "background-color": "#69065a",
        ":hover": {
          "background-color": "#b30a99"
        },
        ":focus": {
          "background-color": "#b30a99"
        }
      },
      "count": {
        "font-size": "18px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "iconPath": {
        "fill": "#dac5f1"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#dac5f1"
      },
      "title": {
        "color": "#dac5f1"
      },
      "price": {
        "color": "#dac5f1"
      },
      "fullPrice": {
        "color": "#dac5f1"
      },
      "discount": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "quantity": {
        "color": "#dac5f1"
      },
      "quantityIncrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityDecrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityInput": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
</div>
</div>

<div class="pure-u-md-1-3">
<div class="shopify-buy-button-scions-mug">
<div id='product-component-1711858959430'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'cad2dc-3.myshopify.com',
      storefrontAccessToken: '6a4f71d68ded42c36179ab587390eb5f',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '7772092465197',
        node: document.getElementById('product-component-1711858959430'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-family": "Garamond, serif",
        "font-weight": "normal",
        "font-size": "20px",
        "color": "#cab5e1"
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "price": {
        "font-family": "Garamond, serif",
        "font-size": "26px",
        "color": "#cdc3e6"
      },
      "compareAt": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      },
      "unitPrice": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      }
    },
    "text": {
      "button": "Add to cart"
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "title": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "bold",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ],
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Garamond, serif"
      },
      "select": {
        "font-family": "Garamond, serif"
      }
    }
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px"
      },
      "title": {
        "color": "#dac5f1"
      },
      "header": {
        "color": "#dac5f1"
      },
      "lineItems": {
        "color": "#dac5f1"
      },
      "subtotalText": {
        "color": "#dac5f1"
      },
      "subtotal": {
        "color": "#dac5f1"
      },
      "notice": {
        "color": "#dac5f1"
      },
      "currency": {
        "color": "#dac5f1"
      },
      "close": {
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "empty": {
        "color": "#dac5f1"
      },
      "noteDescription": {
        "color": "#dac5f1"
      },
      "discountText": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "discountAmount": {
        "color": "#dac5f1"
      },
      "cart": {
        "background-color": "#2c0149"
      },
      "footer": {
        "background-color": "#2c0149"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    },
    "contents": {
      "note": true
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "background-color": "#69065a",
        ":hover": {
          "background-color": "#b30a99"
        },
        ":focus": {
          "background-color": "#b30a99"
        }
      },
      "count": {
        "font-size": "18px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "iconPath": {
        "fill": "#dac5f1"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#dac5f1"
      },
      "title": {
        "color": "#dac5f1"
      },
      "price": {
        "color": "#dac5f1"
      },
      "fullPrice": {
        "color": "#dac5f1"
      },
      "discount": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "quantity": {
        "color": "#dac5f1"
      },
      "quantityIncrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityDecrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityInput": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
</div>
</div>

<div class="pure-u-md-1-3">
<div class="shopify-buy-button-phone-cases">
<div id='product-component-1711860193619'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'cad2dc-3.myshopify.com',
      storefrontAccessToken: '6a4f71d68ded42c36179ab587390eb5f',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '7772097445933',
        node: document.getElementById('product-component-1711860193619'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-family": "Garamond, serif",
        "font-weight": "normal",
        "font-size": "20px",
        "color": "#cab5e1"
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "price": {
        "font-family": "Garamond, serif",
        "font-size": "26px",
        "color": "#cdc3e6"
      },
      "compareAt": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      },
      "unitPrice": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      }
    },
    "text": {
      "button": "Add to cart"
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "title": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "bold",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ],
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Garamond, serif"
      },
      "select": {
        "font-family": "Garamond, serif"
      }
    }
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px"
      },
      "title": {
        "color": "#dac5f1"
      },
      "header": {
        "color": "#dac5f1"
      },
      "lineItems": {
        "color": "#dac5f1"
      },
      "subtotalText": {
        "color": "#dac5f1"
      },
      "subtotal": {
        "color": "#dac5f1"
      },
      "notice": {
        "color": "#dac5f1"
      },
      "currency": {
        "color": "#dac5f1"
      },
      "close": {
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "empty": {
        "color": "#dac5f1"
      },
      "noteDescription": {
        "color": "#dac5f1"
      },
      "discountText": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "discountAmount": {
        "color": "#dac5f1"
      },
      "cart": {
        "background-color": "#2c0149"
      },
      "footer": {
        "background-color": "#2c0149"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    },
    "contents": {
      "note": true
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "background-color": "#69065a",
        ":hover": {
          "background-color": "#b30a99"
        },
        ":focus": {
          "background-color": "#b30a99"
        }
      },
      "count": {
        "font-size": "18px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "iconPath": {
        "fill": "#dac5f1"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#dac5f1"
      },
      "title": {
        "color": "#dac5f1"
      },
      "price": {
        "color": "#dac5f1"
      },
      "fullPrice": {
        "color": "#dac5f1"
      },
      "discount": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "quantity": {
        "color": "#dac5f1"
      },
      "quantityIncrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityDecrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityInput": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
</div>
</div>

<div class="pure-u-md-1-3">
<div div class="shopify-buy-button-lily-sticker-holo">
<div id='product-component-1711860663573'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'cad2dc-3.myshopify.com',
      storefrontAccessToken: '6a4f71d68ded42c36179ab587390eb5f',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '7772101115949',
        node: document.getElementById('product-component-1711860663573'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-family": "Garamond, serif",
        "font-weight": "normal",
        "font-size": "20px",
        "color": "#cab5e1"
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "price": {
        "font-family": "Garamond, serif",
        "font-size": "26px",
        "color": "#cdc3e6"
      },
      "compareAt": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      },
      "unitPrice": {
        "font-family": "Garamond, serif",
        "font-size": "22.099999999999998px",
        "color": "#cdc3e6"
      }
    },
    "text": {
      "button": "Add to cart"
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px",
        "padding-left": "53px",
        "padding-right": "53px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      },
      "title": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "bold",
        "font-size": "26px",
        "color": "#4c4c4c"
      },
      "price": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "18px",
        "color": "#4c4c4c"
      },
      "compareAt": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      },
      "unitPrice": {
        "font-family": "Helvetica Neue, sans-serif",
        "font-weight": "normal",
        "font-size": "15.299999999999999px",
        "color": "#4c4c4c"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ],
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Garamond, serif"
      },
      "select": {
        "font-family": "Garamond, serif"
      }
    }
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1",
          "background-color": "#b30a99"
        },
        "background-color": "#69065a",
        ":focus": {
          "background-color": "#b30a99"
        },
        "border-radius": "7px"
      },
      "title": {
        "color": "#dac5f1"
      },
      "header": {
        "color": "#dac5f1"
      },
      "lineItems": {
        "color": "#dac5f1"
      },
      "subtotalText": {
        "color": "#dac5f1"
      },
      "subtotal": {
        "color": "#dac5f1"
      },
      "notice": {
        "color": "#dac5f1"
      },
      "currency": {
        "color": "#dac5f1"
      },
      "close": {
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "empty": {
        "color": "#dac5f1"
      },
      "noteDescription": {
        "color": "#dac5f1"
      },
      "discountText": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "discountAmount": {
        "color": "#dac5f1"
      },
      "cart": {
        "background-color": "#2c0149"
      },
      "footer": {
        "background-color": "#2c0149"
      }
    },
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    },
    "contents": {
      "note": true
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Playfair Display, serif",
        "font-weight": "bold",
        "background-color": "#69065a",
        ":hover": {
          "background-color": "#b30a99"
        },
        ":focus": {
          "background-color": "#b30a99"
        }
      },
      "count": {
        "font-size": "18px",
        "color": "#dac5f1",
        ":hover": {
          "color": "#dac5f1"
        }
      },
      "iconPath": {
        "fill": "#dac5f1"
      }
    },
    "googleFonts": [
      "Playfair Display"
    ]
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#dac5f1"
      },
      "title": {
        "color": "#dac5f1"
      },
      "price": {
        "color": "#dac5f1"
      },
      "fullPrice": {
        "color": "#dac5f1"
      },
      "discount": {
        "color": "#dac5f1"
      },
      "discountIcon": {
        "fill": "#dac5f1"
      },
      "quantity": {
        "color": "#dac5f1"
      },
      "quantityIncrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityDecrement": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      },
      "quantityInput": {
        "color": "#dac5f1",
        "border-color": "#dac5f1"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>
</div>
</div>

</div>