<header>
  <h1><a href="/" class="header-link">Dax Murray</a></h1>
  <h2>Revolutionary Fantasy and Speculative Fiction</h2>
  <div class="ml-embedded" data-form="IJOt3Y"></div>
  <!-- <h2>&#10024; Writing Lady Knights and Magical Rites &#10024;</h2> -->
</header>