---
layout: layout
title: Dax Murray - Merchandise
---


<div class="book-page products-page">
<div class="pure-g">

	<div class="pure-u-1"><h1>Fun Swag for Fans</h1></div>
	<div class="pure-u-1"><p>I love merch myself and have a ton of it for my favorite worlds, and I wanted to provide some of my own favorite products for anyone who loves my worlds, too! If you want a discount on some of these products, <a href="https://www.daxmurray.com/newsletter">my newsletter subscribers</a> get a good one and my <a href="https://reamstories.com/daxaeterna">Ream members</a> get an even better one ;)</p><p>Is there a product you want but don't see listed? Use the contact me form on the sidebar to let me know what your heart desires!</p></div>
	<div class="pure-u-1"><hr class="horizontal-rule"></div>

	<div class="shopify-buy-buttons" style="text-align: center;">
		<%= partial 'shopify_buy_buttons'%>
	</div>
</div>
</div>