---
layout: layout
title: Dax Murray - Newsletter Sign Up
---
<div>
<h2 style="text-align: center;">Updates, Announcements, </br>and Exclusive Behind the Scenes Content from Dax Murray, author of Revolutionary Fantasy!</h2>
		<%= partial '_newsletter_embed' %>
</div>
