---
layout: layout
title: Dax Murray - Verified
---
<div style="padding: 5%;">

<h1>Indie Story Geek</h1>
<h3>11/02/2023</h3>
Hey indie story geek - this is chaoscat / dax murray confirming that I am the author of A Lake of Feathers and Moonbeams
 ~ Dax
</div>